@charset "utf-8";
/* CSS Document */
H4{
	 width:620PX;
	 /*height:25PX;
	 line-height:25px;*/
	 color:#000;
	 font-family:Arial, Helvetica, sans-serif;

	 font-weight:normal;

}
body{
	 padding:0;
	 margin:0;
	 width:620px;
	 font-family:Arial, Helvetica, sans-serif;
}
td{
	 font-size:12px;
	 font-family:Arial, Helvetica, sans-serif;
}
.title{
	 /*background:url(../images/nav_title.jpg) no-repeat center ;*/
	 height:28px;
	 height:25px\9\0;
	 text-align:left;
	 padding-left:20px;
	 font-size:12px;
	 line-height:23px;
	 line-height:20px\9\0;
	 width:598px;/* firefox,safari,google,opera*/
	 width:620px\9;
	 width:598px\9\0;
	 display:block;
	 border:1px solid #6BC6FF;
}
#Con{
	 border:1px solid #6BC6FF;
	 background:#fff;
	 margin-top:-8px;
	 width:618px;/* firefox,safari,google,opera*/
	 width:620px\9;/*IE*/
	 width:618px\9\0;
	 height:auto;
	 overflow:hidden;
}

 .intro{
	 font-size:12px;
	 margin-top:5px;
 }
	 .remind{
	font-size:12px;
	padding-left:20px;
	color:#ff0000;
}
hr{
	border:1px solid #49B8FF;
	margin-top:-5px;/* firefox,safari,google,opera*/
	margin-top:-20px\9;
	margin-top:0px\9\0;
}

.part_distance{
	margin-top:25px;
	margin-top:10px\9;
}
.part_distance1{
	margin-top:-15px\9;
	margin-top:2px\9\0;
}
@-moz-document url-prefix(){
	.hr1{
	margin-top:-3px;
}
}
@media screen and (-webkit-min-device-pixel-ratio:0){
	.ch{
	margin-top:50px;
}
}
