@charset "utf-8";
/* CSS Document */
*{
	border:0;
}
body{
	font-size:14px;
	font-family:Arial, Helvetica, sans-serif;
	font-weight:bold;
	margin:0 auto;
	}
html{
      overflow-y:scroll;
}

a{
	text-decoration:none;
	font-weight:normal;
	blur:expression(this.onFocus=this.blur());

}
img {
	border:0;
}
a:hover{
	color:#f60;
}
td{
	font-weight:normal;
}

.ME_outPopup1 { 
    z-index: 10; 
	/*FILTER: progid:DXImageTransform.Microsoft.dropshadow(Color=#000,) ;*/
	 font-family:Arial,Tahoma ;
	   text-align: left;
	background-color:#f1f1f1;
	width:100px;
	margin-top:-33px;
	margin-left:2px;
	font-size:12px;
	height:30px;
	line-height:30px;
} 
.ME_outPopup { 
    z-index: 10; 
	/*FILTER: progid:DXImageTransform.Microsoft.dropshadow(Color=#000,) ;*/
	 font-family:Arial,Tahoma ;
	   text-align: left;
	background-color:#f1f1f1;
	width:100px;
	margin-top:-30px;
	margin-left:2px;
	font-size:12px;
	_margin-top:-33px;
	
} 
.ME_outPopupHr { 
    height: 1px ;
} 
.HM_PopupAnimate { 
   display: block;z-index: 1; 
   visibility: hidden;  
   padding:0;
   margin:0;
   overflow: hidden; 
    position: absolute ;
} 
.s_menu_color{
	color:#666;
	font-size:12px;
	font-weight:normal;
	font-size:13px;
}
.menu_color{
	color:#444665;
	font-weight:normal;
	font-size:13px;
}
#Frame{
	width:620px;
	margin:-20px auto;
	_margin:-60px auto;
}
#Footer{
	 width:620px;
	 height:6px;
	 background:url(../graphics/bottom1.gif) no-repeat;
	 margin:30px auto;/*FF*/
	 /*margin:30px auto\0;IE8,9*/
	 *margin:35px auto;/*IE6,7*/
	 _margin-top:70px;
}
#Copyr{
	width:620px;
	height:20px;
	line-height:20px;
	margin:-20px auto;
	text-align:center;
	font-weight:normal;
}

@media screen and (-webkit-min-device-pixel-ratio:0)
{
	#Footer{
	 width:620px;
	 height:6px;
	 background:url(../graphics/bottom1.gif) no-repeat;
	 margin-top:30px;
	
}/*Chrome,Safari*/
	
}

